.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 position: relative;
 top: 15rem;
  
  
}
h1{
  position: relative;
  bottom: 6rem;
  color: white;
  animation-name: fadingBro;
  animation-duration: 2s;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes fadingBro{
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.3;
  }
  100%{
    opacity: 0.1;
  }


}

input{
  border-radius: 10px;
  width: 40%;
 padding: 0.7rem;
  position: absolute;
  
}
body{
  background-image: url(/public/sky.jpg);
  background-repeat: no-repeat;
}

#dataContainer{
  width: max-content;
  background-color: rgb(20, 20, 177);
  color: white;
  padding: 3rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  opacity: 0.5;
  position: relative;
  top: -3rem;
}

#weatherData1{
  display: flex;
  gap: 3rem;
  justify-content: center;
  font-size: 2rem;
}
#temp{
  font-size: 5rem;
}
#weatherData2{
  display: flex;
  flex-direction: column;
}

#MinMaxTemp{
  display: flex;
  gap: 5rem;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}

#windDataHolder{
  display: flex;
  gap: 4rem;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}